@charset "UTF-8";

body {
  font-family: "Noto Sans", "Noto Sans JP", Meiryo, sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

.inner {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.h1 {
  width: 145px;
  margin-top: 20px;
}

.header-nav {
  background-color: #333333;
  color: #fff;
  height: 41px;
}

.header-ul {
  display: flex;
  align-items: center;
  line-height: 41px;

  .header-li {
    list-style-type: none;
    font-size: 14px;
    margin-right: 60px;

    &-link {
      color: #fff;
      text-decoration: none;
    }
  }
}

.pickup {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;

  .pickup-container {
    width: calc(100% / 3);
    margin-right: 23.25px;

    .pickup-container-desc {
      font-weight: bold;
    }

    .pickup-container-link {
      font-size: 14px;
      display: block;
      width: fit-content;
      margin: 0 auto;
      color: #333;
    }
  }
}

.maincontent {
  padding-top: 51px;
  padding-bottom: 140px;
  display: flex;
  gap: 54px; 

  .maincontent-left {
    width: 60%;

    .maincontent-left-container:not(:first-child) {
      margin-top: 50px;
    }

    .maincontent-left-container {
      
      .maincontent-left-container-title {
        margin: 24px 0 26px 0;
      }

      .maincontent-left-container-info {
        font-size: 14px;
        display: flex;
        margin-bottom: 13px;

        .maincontent-left-container-date {
          margin-right: 32px;
        }
      }

      .maincontent-left-container-desc {
        width: 85%;
        margin: 0 auto;
        margin-top: 13px;
      }

      .maincontent-left-container-link {
        width: fit-content;
        margin: 0 auto;
        margin-top: 33px;
        color: #333;
        text-decoration: underline;
      }
    }
  }

  .maincontent-right {
    width: 345px;

    .plof {
      .plofimg {
        width: 130px;
        height: 130px;
        margin: 0 auto;
        margin-top: 50px;

        img {
          border-radius: 50%;
        }
      }

      .plofname {
        font-weight: bold;
        text-align: center;
        margin-top: 35px;
      }
    }

    .ranking {
      .ranking-title {
        text-align: center;
        margin: 57px 0 35px 0;
      }

      .ranking-box {
        .ranking-box-text {
          margin: 3px 0 30px 0;
        }
      }
    }

    .archive {
      .archive-title {
        text-align: center;
        margin: 66px 0 34px 0;
      }

      .archive-dl {
        margin: 0;

        .archive-dt {
          text-align: center;
          padding: 23px 0;
          border-top: 1px solid #777;
        }

        .archive-dt:last-child {
          border-bottom: 1px solid #777;
        }
      }
    }
  }
}

.footer {
  background-color: #F7F7F7;

  .footer-nav  {
    display: flex;
    justify-content: space-evenly;
    padding: 55px 20px 64px 20px;

    .footer-nav-about {
      width: calc(100% /3);
      margin-right: 70px;

      .footer-nav-about-title {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
      }

      .footer-nav-about-desc {
        margin-top: 37px;
        font-size: 14px;
        width: 100%;
        line-height: 1.8;
      }

      .footer-nav-about-links {
        padding: 0;

        .footer-nav-about-link {
          list-style-type: none;
          position: relative;
          padding: 0 0 0 16px;

          a {
            text-decoration: none;
            color: #333333;
            font-size: 14px;
            margin-bottom: 12px;
          }
        }

        .footer-nav-about-link::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);  
          border: 5px solid transparent;
          border-left: 8px solid #333333;  

        }
      }
    }

    .footer-nav-menu {
      width: calc(100% /3);
      margin-right: 53px;

      .footer-nav-menu-title {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 34px;
      }

      .footer-nav-menu-ul {
        padding: 0;

        .footer-nav-menu-li {
          list-style-type: none;
          font-size: 14px;
          padding: 18px 0 18px 15px;
          border-top: solid 1px #777777;

          a {
            color: #333333;
            text-decoration: none;
          }
        }

        .footer-nav-menu-li:last-child {
          border-bottom: solid 1px #777777;
        }
      }
    }

    .footer-nav-twitter {
      width: calc(100% /3);

      .footer-nav-twitter-title {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 34px;
      }

      .footer-nav-twitter-area {
        background-color: #DEDEDE;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer-nav-twitter-desc {

        }
      }
    }
  }

  .copyright {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .h1 img {
    vertical-align: middle;
  }

  .header-nav {
    .header-ul {
      .header-li {
        margin-right: 20px;
      }
    }
  }

  .pickup {
    display: block;

    .pickup-container {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .maincontent {
    display: block;

    .maincontent-left {
      width: 100%;

      .maincontent-left-container:not(:first-child) {
        margin-top: 100px;
      }
    }

    .maincontent-right {
      width: 100%;

      .plof {
        .plofimg {
          margin-top: 80px;
        }
      }
    }
  }

  .footer {
    padding: 0 15px;

    .footer-nav {
      display: block;

      .footer-nav-about {
        width: 100%;
      }

      .footer-nav-menu {
        width: 100%;
        margin-top: 30px;
      }

      .footer-nav-twitter {
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}